# compiled output
/nest/dist
/nest/node_modules

# Logs
nest/logs
nest/*.log
nest/npm-debug.log*
nest/pnpm-debug.log*
nest/yarn-debug.log*
nest/yarn-error.log*
nest/lerna-debug.log*

# OS
nest/.DS_Store

# Tests
nest/coverage
nest/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json