[mysqld_safe] 
socket = /var/run/mysqld/mysqld.sock 

[mysqld]
port = 3306
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
datadir = /var/lib/mysql
bind-address = 0.0.0.0

log-error = /var/log/mysql/error.log

character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

max_allowed_packet = 16M
sql_mode = NO_ENGINE_SUBSTITUTION

[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock